# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.DS_Store
npm-debug.log

node_modules/
platforms/
plugins/
.cordova
.DS_Store
.idea

# generated apks
*.apk

packages/

*.swp
*.swo

*~

*.suo
*.user

bin/

obj/

# orig files
*.orig

**/node_modules
**/bundle.js
**/*.log

storage.ide

# we copy over randomly generated fonts
**/www/*ttf*
**/www/*woff*
**/www/*eot*
**/www/*png*
**/.vs/*

# ignore the dist folder.
**/out/**
